.entrybox {
    text-align: right;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #b4b39d;
    border-radius: 6px;
    background-color: #c3c2ab;
}

.entry {
    margin-right: 10px;
    font-size: 35px;
}

.answer {
    margin-top: 10px;
    margin-bottom: 10px;
}